dataplatform-adf-solutions/Manage/pl_start_or_stop_azure_vm.json
{
    "name": "pl_start_or_stop_azure_vm",
    "properties": {
        "description": "Starts or Stops Azure VM",
        "activities": [
            {
                "name": "Check Azure VM Status",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourcegroup,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.vmname,'/InstanceView?api-version=2021-03-01')",
                        "type": "Expression"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://management.azure.com/"
                    }
                }
            },
            {
                "name": "Start or Deallocate",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Check Azure VM Status",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(and(equals(activity('Check Azure VM Status').output.statuses[1].displayStatus,'VM deallocated'), equals(pipeline().parameters.Command,'Start')),and(equals(activity('Check Azure VM Status').output.statuses[1].displayStatus,'VM running'), equals(pipeline().parameters.Command,'Deallocate')))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Start or Pause Azure VM",
                            "description": "Start or Pause Azure VM using REST APIs",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 3,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [
                                {
                                    "name": "Azure VM",
                                    "value": "Pause"
                                }
                            ],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourcegroup,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.vmname,'/',pipeline().parameters.command,'?api-version=2021-03-01')",
                                    "type": "Expression"
                                },
                                "method": "POST",
                                "body": {
                                    "value": "{}",
                                    "type": "Expression"
                                },
                                "authentication": {
                                    "type": "MSI",
                                    "resource": "https://management.azure.com/"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "subscription": {
                "type": "string"
            },
            "resourcegroup": {
                "type": "string"
            },
            "region": {
                "type": "string"
            },
            "vmname": {
                "type": "string"
            },
            "command": {
                "type": "string"
            }
        },
        "folder": {
            "name": "Manage"
        },
        "annotations": [],
        "lastPublishTime": "2020-11-13T07:03:47Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}